@model IEnumerable<FleetManagment.Shared.TransfertObject.BrandTO>

@{
    ViewData["Title"] = "BrandAvailable";
}

<h1>Brand Available</h1>

<p>
    <a asp-action="CreateBrand">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                    <a asp-controller="ModelCar" asp-action="ModelAvailable" asp-route-id="@item.Id">Detail |</a>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>