@model IEnumerable<Fleet_Managment.Models.BrandAndModelListViewModel>

@{
    ViewData["Title"] = "BrandAvailable";
}

<h1>Brand Available</h1>

<p>
    <a asp-action="CreateBrand">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Models)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id=@item.IdBrand>Delete</a>
                </td>
                <td>
                    <select id="modelSelected" class="form-control">
                        @foreach (var modelBrand in item.Models)
                        {
                            <option value="@modelBrand.Id">
                                @modelBrand.Name
                            </option>
                            <a asp-controller="ModelCar" asp-action="Delete" asp-route-id="@modelBrand.Id">Delete</a>
                        }
                    </select>
                </td>
                <td>
                    <a asp-controller="ModelCar" asp-action="CreateModel" asp-route-id=@item.IdBrand>New Model</a> |
                    <a asp-controller="ModelCar" asp-action="Details" asp-route-id="@item.IdBrand">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>