@model IEnumerable<Fleet_Managment.Models.CarListingViewModel>

@{
    ViewData["Title"] = "CarAvailable";
}

<h1>CarAvailable</h1>

<p>
    <a asp-action="CreateCar">Create New Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numberplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model.Brand.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numberplate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chassis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.IdCar }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdCar })
                </td>
            </tr>
        }
    </tbody>
</table>